Package: nightona-runner
Version: ${VERSION}
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Nightona <amaraaamka0404@gmail.com>
Description: Nightona Runner
 The Nightona Runner manages execution of jobs and sandboxes
 for the Nightona development environment platform.
Homepage: https://github.com/nightona-co/nightona
